footer p {
	font-family: 'codelight';
	font-size: 120%;
	color: white;
	font-weight: bold;
}
footer img{
      max-width: 60px;
  	max-height: 60px;
		transition: opacity ease 0.7s, transform ease 0.2s;
		transition-delay: 0s, 0.2;
}
footer img:hover{
	transform: rotate(15deg);

opacity:0.5;

}
footer {

 background-color: black;
 padding: 10px;
 text-align: center;
}
